section>table{
	margin: auto;
	border-collapse: collapse;
	margin-top: 1em;
	margin-bottom: 1em;
}
section>table tr:nth-child(even) {
    background-color: lightgrey;
}
section>table tr:first-child>th{
	text-align: center;
}
section>table th,td{
	border-right: 1px solid grey;
	padding: 0em 1em 0em 1em;
}
section>table th:last-child,td:last-child{
	border-right: none;
}
section>table tr:first-child{
	border-bottom: 1px solid grey;
}
section>table tr:last-child{
	border-top: 1px solid grey;
}
section>table.processeurs tr:nth-child(6){
	border-bottom: 1px solid grey;
}
section>table.processeurs tr:nth-child(12){
	border-bottom: 1px solid grey;
}
section>table.processeurs tr:nth-child(18){
	border-bottom: 1px solid grey;
}
section>table th{
	text-align: right;
}