/* Début de CSS Template pour toutes les pages  */
/***
***
**/
body{
  max-width: 1000px;
  background-color: grey;
  margin: auto;
  background-image: url(../images/background.jpg);
}
header{
  height: 100px;
  background-color: white;
  margin-top: 2px;
  margin-bottom: 4px;
  margin-right: 2px;
  margin-left: 2px;
}
header>img{
  display: block;
  margin: auto;
  height: 100px;
}
nav{
  display: grid;
  display: flex;
    grid-template-areas:
    'aside aside';
    margin-right: 2px;
  margin-left: 2px;
}
aside:first-child{
  margin: 0px;
  background-color: white;
  width: auto;
  display: inline-block;
  margin-right: 4px;
}
aside:first-child ul{
  list-style-type: none;
  padding-left: 1em;
}
aside:first-child a{
  display: block;
  margin-right: 1.6em;
  border-bottom: 1px solid grey;
}
aside:first-child a:hover{
  border: 1px solid black;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-right: 0.5em;
}
aside{
  margin: 0px;
  max-width: 75%;
  display: inline-block;
  vertical-align: top;
}
h1{
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 30px;
  margin: 0px;
}
h2{
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 20px;
  margin: 2px;
}
h3{
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 20px;
  margin: 2px;
}
section:first-child{
  margin: 0px;
  background-color: white;
}
section{
  margin: 0px;
  margin-top: 4px;
  padding: 0.5em 1em 0.5em 1em;
  background-color: white;
}
ol>ol{
  list-style-type: lower-alpha;
}
ol>li{
  text-decoration: underline;
}
p{
  text-align: justify;
}
section>a>div{
  vertical-align: middle;
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 1px solid grey;
  text-align: center;
  margin: 4px;
}
section>a>div>img{
  display: block;
  margin: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  max-height: 100px;
  max-width: 130px;
}
a{
  color: black;
  text-decoration: none;
  width: auto;
}
footer{
  margin-top: 4px;
  background-color: white;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
}
footer>div{
  vertical-align: top;
  display: inline-block;
  width: 45%;
  padding: 6px;
}
footer div p{
  float: left;
  margin: 0px;
}
footer div iframe{
  float: right;
  width: 150px;
  height: 150px;
  border: 0px;
}
footer a{
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
footer a img{
  height: 1em;
  margin: 0px 2px 0px 2px;
}
footer div:first-child a{
  display: inline-block;
}

/* Fin de CSS Template pour toutes les pages  */

/****************************************
****************
*************************
*************************
********
********************/



/*Début du  CSS POUR LA PAGE CATALOGUE */

div#catalogue div  img {
	float:left;  /*pour aligner les imgaes s'il y a suffisamment de place*/
	width: 120px;
	height: 120px;
}
div#catalogue> div {
	border:1px solid black; /*bordure sur bloc*/
	width:45%; 
	padding:10px;
	margin-bottom: 20px;
	margin-top:20px;
	min-height:205px;
	position:relative; /*permet que éléments en absolu à l'intérieur se palcent par rapport à ces divs*/
}
div#catalogue > div:nth-child(odd){ /*cible les divs 1, 3, 5, donc impaires, donc celles de la colonne de gauche*/
	margin-right:3%;
}

div#catalogue ul{
	list-style-position:inside;
}
/*on place les liens à un endroit précis par rapport à
leur ancêtre le plus proche ayant une position, dans ce cas, la div enfant de #circulaire*/
div#catalogue  a.more {
	position:absolute;
	bottom:10px;
	right:10px;
	border-radius: 12px;
	color: white;
	background-color: #4BACE3;
	border: 2px solid black;
	padding: 5px;	
}
.baree {
	text-decoration: line-through;  /* pour barré un text */
	color: red;
}
div#catalogue > div {
	display: inline-block; /*pour aligner les éléments s'il y a suffisamment de place*/
	vertical-align: middle;  /*pour aligne les éléments à partir du haut*/
}
div#catalogue > div > h4 {  
	margin: 0px;	/*Pour Rapprocher les blocs h4 qui contiennet les prix */
}
			/* Fin de CSS pour Le Catalogue*/









            /* Début du CSS pour la page de CONTACT*/

                  /*Dans ce CSS On a utiliser le id=Contact pour la partie qui change
        dans le site web pour cette page , l'utilisation de section#Contact {}
        revient dans tout le code pour bien préciser qu'on travaillent 
        sur la section qui change et qui concerse la page de Contact */


#Contact input[type=text], select {             /* Simples configurations de dimesions et couleurs et formes */
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 5px;
}

#Contact input[type=submit] {                   /* Simples configurations de dimesions et couleurs et formes */
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid green;
    border-radius: 5px;
    margin-left: 50%;
}

#Contact input[type=submit]:hover {             /* changement de formes et couleurs quand la souris est dessus*/
    /*background-color: #45a049;*/
    border: 2px solid green;
    border-radius: 5px;
}

section#Contact div {           
    border-radius: 6px;
    background-image: linear-gradient(#A0FAF1,white,#A0FAF1);      /*des couleurs en graduation en background du form*/
    padding: 20px;
    
}

div#divprenom {         
    float: left;
}                       /*pour aaligner les input nom et prénom */
div#divnom {
    display: inline-block;
}
div#pays {
    clear: both;    /*reprendre le demensionement et emplacement normal indépendant */
}
input.troisnombres {            /* Simples configurations de dimesions et couleurs et formes */
    width: 65px;
    border-radius: 5px;
    border: 2px solid green;
    text-align: center;
}
input#qutrenombres {
    width: 80px;
    border-radius: 5px;
    border: 2px solid green;
    text-align: center;
}
section#Contact input , fieldset {
    border: 4px solid #0BD980;
    border-radius: 10px;
    margin: 5px;
}
section#Contact textarea {
    width: 300px;
    height: 200px;
    margin: auto;
}
section#Contact input[type=file] {
    border: 2px solid blue;
    display: block;
}
section#Contact legend {     /* Simples configurations de dimesions et couleurs et formes */
    margin: 5px;
    padding: 5px;
    border-top: 2px solid #00AB61;
    border-right: 2px solid #00AB61;
    border-left: 2px solid #00AB61;
    border-radius: 7px 7px 0px 0px;
    color: red;
    background-color: #0BD980;
}
.required {    
    color: red;  /* les * en rouge pour les champs requis */
}

            /* Fin du CSS pour la page de CONTACT*/

                                 







                                  /* Début du CSS POUR LA PAGE GALERIE */

      /*Dans ce CSS On a utiliser le id=galerie pour la partie qui change
        dans le site web pour cette page , l'utilisation de section#galerie {}
        revient dans tout le code pour bien préciser qu'on travaillent 
        sur la section qui change et qui concerse la page Galerie */

section#galerie {                   
  margin: 3px;
  padding: 2px;
  display: flex;
  flex-flow: row wrap;
}
  
section#galerie input {
  display: none;
}
                                /*IMPORTANT : 
  ici, pour créer une lightbox sans JavaScript , l'image est incluse
  dans un label avec un INPUT du type CheckBox , ensuite l'image va etre 
  considérer comme si elle était le checkbox ... lire le prochain commentaire
*/
.image-galerie {
  display: inline-block;
  position: relative;
  padding: 10px;
  margin: 5px;
  /*border:2px solid green;*/
  border-radius: 15px 30px 15px 30px;
  max-width: 200px;
  height: 100px;
  vertical-align: middle;
}
.image-galerie input:checked ~ .image {
  position: fixed;                        /* ce morceau de code s'éxécutera lorsque le checkbox soit chekced */
  z-index: 5000;                          /* quand le il est a checked les changemet vont sappliquer sur l'image */
  display: flex;                          /* ca donnera lullision que c'est une lightbox en agrandisant l'image et changer le background*/
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}
.image-galerie input:checked ~ .image img {
  width: 800px;
  height: 800px;
}

.image {
  display: flex;
  align-items: center;
}

section#galerie >div>div>label>span>img {
  transition: max-width 1ms ease-in-out;     /* le temps entre les changement de dimesion de l'image */ 
  width: 90%;
  height: 90%;
  margin-bottom: 100px;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 7%;
  border:3px solid grey;
  max-width: 800px;
  max-height: 700px;
  vertical-align: middle;
}
a.link-vers-produit {                             /* mettre les liens dans un carré */
  color: white;
  display: block;
  position: absolute;
  border: 2px solid red;
  background-color: black;
  bottom: 1px;
  right: 60px;
  left: 60px;
  border-radius: 10px 20px 10px 20px ;
  text-align: center;
  margin: 5px;
  padding: 7px;
  clear: both;
}
a.link-vers-produit:hover {       /* les effets sur les liens quand la souris est au dessus d'eux */
  color: blue;
  padding: 3px;
  margin: 10px;
}
section#galerie > div {
  padding: 2px;
}
section#galerie > div > div {
  position: relative;
  padding: 5px;
  margin: 5px;
  align-items: center;
}
section#galerie > div> h2 {
  color: red;
  border-bottom: 3px solid black;
}
section#galerie > div > div > h3 {
  color: blue;
}
                            /* FIN du CSS POUR LA PAGE GALERIE */

